<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cac.fhict.org.coachingappcoach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppCoachStart"
            android:label="@string/title_activity_app_coach_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppCoachQuestion"
            android:label="@string/title_activity_app_coach_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppCoachResult"
            android:label="@string/title_activity_app_coach_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppFinderStart"
            android:label="@string/title_activity_app_finder_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SportAppCoach"
            android:label="@string/title_activity_sport__app__coach"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppFinderQuestion"
            android:label="@string/title_activity_app_finder_question" />
        <activity
            android:name=".AppFinderProduct"
            android:label="@string/title_activity_app_finder_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppFinderQuestion2"
            android:label="@string/title_activity_app_finder_question2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppFinderResult"
            android:label="@string/title_activity_app_finder_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>